header{
    background-color: #99ffffff;
    width: 100%;
    height: 20vh;

}

body{
    margin: 10 auto;

}

nav{
    background-color: #ff66ff;
    width: 100%;
    height: 5vh;

}

section{
    background-color: #1affffff;
    height: 30vh;

}

aside{
    background-color: #ff99ff;
    width: 35%;
    float: left;
    min-height: 60vh;

}

article{
    background-color: #00b3b3;
    height: 30vh;


}

footer{
    background-color: #ff00ff;
    width: 100%;
    height: 10vh;
    float: left;

}

main{
    width: 65%;
     float: left;



}
